:root {
  --black-color: #000000;
  --black-color-2: #172022;
  --black-color-30: rgba(0,0,0,0.3);
  --black-color-40: rgba(0,0,0,0.4);
  --black-color-60: rgba(0,0,0,0.6);
  --gray-color: #EEEEEE;
  --dark-grey-color: #C4C4C4;
  --dark-grey-color-2: #B0B0B0;
  --light-gray-color: #BEBEBE;
  --light-gray-color-2: #C0BCBC;
  --light-gray-color-3: #E0E0E0;
  --mobile-menu-color: #36383F;
  --white-color: #ffffff;
  --white-color-60: rgba(255,255,255, 0.6);
  --turquoise-color: #00D6FF;
  --slightly-dark-white-color: #F9F9F9;
  --slightly-dark-white-color-40: rgba(249,249,249,0.4);
}